body {
    display: flex;
    justify-content: center;
    background-image: url(../../../public/assets/images/backgroundImg.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    padding-top: 50px;
}

td {
    padding: 3px 30px;
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;
}

a:hover {
    color: red;
}

.position-box {
    background-color: #e5e5e5;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.9;
}

@media (max-width: 980px) {

    body {
        padding: 5px;
        height: 100vh;
    }
    .position-box {
        padding: 5px;
        margin: 0 30px;
    }

    td {
        padding: 1px 4px;
    }
}